/**
 * @file
 * Block styles.
 */

/**
 * Blocks in the header.
 */
.region-header .block {
  width: 305px;
}

/**
 * Search.
 */
/* Hide the label but keep it available for screen readers. */
#block-search-0 label {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
