/**
 * @file
 * Page layout.
 */

html, body {
  margin: 0;
  padding: 0;
}

/* We give only specific elements a width, so others can horizontally fill up the viewport. */
#header .section,
#header-bottom,
#main,
div.region-content-bottom,
#footer .section {
  width: 950px;
  margin-right: auto;
  margin-left: auto;
}

#console {
  margin-bottom: 1.6em;
}
#content {
  float: left;
  width: 625px;
}

/**
 * Sidebar.
 */
#sidebar {
  float: right;
  width: 305px;
}

/**
 * Header.
 */
#header {
  padding-top: 1.6em;
  margin-bottom: 3.2em;
  border-bottom: 1px dotted #e0e0e0;
  padding-bottom: 0.8em;
}
#site-name {
  margin-bottom: 1.6em;
  float: left;
}
#site-name,
#site-name strong {
  font-size: 1em;
  font-weight: normal;
}
#site-name a {
  color: #000;
  text-decoration: none;
}
div.region-header {
  float: right;
}
#header-bottom-wrapper {
  margin-top: -3.2em;
  margin-bottom: 3.2em;
  padding-top: 0.8em;
}

/**
 * Footer.
 */
#footer {
  padding: 3.2em 0 1.6em;
}
#footer a {
  text-decoration: none;
}
