/**
 * @file
 * Navigation styles.
 */

ul.links li {
  padding: 0;
  margin-right: 1em;
}
ul.links a {
  text-decoration: none;
}
ul.links a.active,
ul.links .active-trail a {
  font-weight: bold;
  color: #000;
}

/**
 * Tabs.
 */
div.tabs {
  margin-bottom: 1.5em;
}

/**
 * Main menu.
 */
#main-menu {
  font-size: 1.23em;
}
