/**
 * @file
 * Reset styles.
 *
 * Standardize styling of generic HTML elements.
 */

/**
 * Font reset.
 *
 * We explicitly target form controls as browsers often give them special treatment.
 */
body, input, select, textarea {
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
}
body, textarea {
  line-height: 1.6;
}
small {
  font-size: 0.81em;
}

/**
 * Standardize vertical whitespace around common block-level elements.
 */
p, dl, ol, ul {
  margin: 0 0 1em;
  padding: 0;
}
blockquote, pre, .form-item, table,
.incorrect, .correct {
  margin: 1.6em 0;
  padding: 0;
}

/**
 * Quotes.
 */
blockquote {
  margin-right: 2em;
  margin-left: 2em;
  font-weight: bold;
  font-size: 1.15em;
}
blockquote cite {
  font-style: normal;
  font-size: 0.86em;
}

/**
 * Headings.
 */
h1.title {
  font-weight: normal;
  font-size: 1.84em;
  margin-top: 0;
  margin-bottom: 1em;
  padding: 0;
}
h2 {
  font-weight: normal;
  font-size: 1.38em;
  margin-top: 1.3em;
  margin-bottom: 0.7em;
  padding: 0;
}
h3 {
  font-weight: bold;
  font-size: 1em;
  margin-top: 1.6em;
  margin-bottom: 0;
}

/**
 * Code samples.
 */
pre, code {
  font-size: 12px;
  font-family: Monaco, Consolas, monospace;
}
pre {
  border: 1px solid #acacac;
  background: #f7f7f7;
  padding: 5px;
}

/**
 * Incorrect/Correct examples.
 */
.incorrect,
.correct {
  padding-left: 8px;
  border-width: 0 0 0 3px;
  border-style: solid;
}
.incorrect {
  border-color: #ed541d;
}
.correct {
  border-color: #be7;
}
.incorrect h3,
.correct h3 {
  margin-bottom: 0.4em;
  padding-left: 2em;
  background-repeat: no-repeat;
  background-position: left 1px;
}
.incorrect h3 {
  color: #ba2014;
  background-image: url(../images/icons/error-small.png);
}
.correct h3 {
  color: #234600;
  background-image: url(../images/icons/ok-small.png);
}

/**
 * Lists.
 */
dt {
  font-weight: bold;
}
dd, ol, ul {
  margin-left: 2em;
}
/* Nested lists must not have a margin-bottom. */
ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0;
}

/**
 * Tables.
 */
table {
  width: 100%;
}

/**
 * Images.
 */
img {
  border: 0;
}

/**
 * Links.
 */
a {
  color: #777;
}
