/**
 * @file
 * Utility styles.
 *
 * We apply these classes to HTML elements that need them rather than repeatedly
 * clutter our CSS with the same styles.
 */

/**
 * Hide elements from all users.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen readers.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Prevent elements from collapsing when their children are floated.
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}
